{% block sidebar %}

<style>
    .card{
        box-shadow: 0 16px 48px #E3E7EB;
    }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">About blog</h5>
        <div class="card-body">
            <p class="card-text"> this is one of simple blog you can create, this is good for your education,do practice to add other feature</p>
            <p class="card-text"> goodlock</p>

            <a href="https://djangocentral.com/building-a-blog-application-with-django"
               class="btn btn-primary">mahdi abedini</a>
        </div>
    </div>
</div>
{% endblock sidebar %}